#sidebar-wrapper.bg-primary.border-right
    .list-group.list-group-flush
        a.list-group-item.list-group-item-action.bg-primary.text-white(href='#') Dashboard
        a.list-group-item.list-group-item-action.bg-primary.text-white(href='#') Shortcuts
        a.list-group-item.list-group-item-action.bg-primary.text-white(href='#') Overview
        a.list-group-item.list-group-item-action.bg-primary.text-white(href='#') Events
        a.list-group-item.list-group-item-action.bg-primary.text-white(href='#') Profile
        a.list-group-item.list-group-item-action.bg-primary.text-white(href='#') Status